*{
    margin: 0px;
    padding: 0px;
}
.top-bar{
    background-color: black;
}
.top-number{
  color: #fff;
  margin-left: 30px;
    margin-top: 5px;
}

.top-number p{
  margin: 0
}

.social{
  text-align: right;
    margin-top: 5px;
}
.social-share li {
    float: left;
    display: inline-block;
}
.social-share{
 display: inline-block;
 margin-right: 30px;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
    margin-left: 10px;
  text-align: center;
  border-radius: 2px;
}
.button {
    background-color: white; 
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}
.button:hover {
    background-color: #F8537D; 
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

.button1 {
    
    padding: 10px 24px;
}

ul.social-share li a:hover {
  background: #F95681;
  color: #fff;
}


@media screen and (max-width: 360px) {
    .top-number{
  color: #fff;
  margin-left: 20px;
    margin-top: 5px;
}
    .social{
  text-align: right;
    margin-top: 10px;
}
    
  ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
    margin-left: 5px;
  text-align: center;
  border-radius: 2px;
}    
    
}

.logo h1{
    color: #F95681;
}


input[type=text] {
    width: 330px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;;
    height: 40px;
    margin-top: 20px;
    color: black;
  
} 

.menubar li{
    float: left;
    display: inline-block;
}
.menubar li a{
    font-size: 30px;
    margin-left: 15px;
}
/*/////////////////////////////*/



.navbar-default {
    background-color: #F95681;
    border-color: #000000;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color:#F95681;
}




.navbar-default .navbar-nav>li>a {
    color: white;
    
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color:black;
}

.dropdown-menu>li>a:focus, 
 .dropdown-menu>li>a:hover {
    
    text-decoration: none;
    background-color: white;
     color: deeppink;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    font-family: 'Bree Serif', serif;
    display: none;
    float: left;
    min-width: 600px;
    height: 300px;
    padding: 0px 0;
    color: white;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #F95681;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.navbar {
    border-radius: 0px;
}


.dropdown-menu>li>a{
    padding: 12px 20px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

  /*product */


.product2{
    margin-left: -25px;
}
.product p{
    background-color: #E4E4E4;
    height: 50px;
  padding-top: 15px;
    padding-left: 20px;
}


/*categoriitem */

.categoriitem a{
    text-decoration: none;
    color: black;
    font-size: 15px;
   
}
.categoriitem a:hover{
    text-decoration: none;
    color: #F54E79;
    font-size: 15px;
   
}
.categoriitem{
    margin-left: 10px;
}
.categoriitem h2{
  color: #F54E79;
    border-bottom: 5px solid #E4E4E4;
}

