* {
    margin: 0px;
    padding: 0px;
}
.top-bar {
    background-color: #202020;
}

.top-number {
    color: #fff;
    margin-top: 5px;
}

.top-number p {
    margin: 0
}

.social {
    text-align: right;
    margin-top: 5px;
}

.social-share li {
    float: left;
    display: inline-block;
}

.social-share {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li a {
       display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    font-size: 12px;
    padding: 3px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    border-radius: 2px;
}

.button {
    background-color: #D7D7D7;
    width: 100%;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: none;
    height: 40px;
    outline: none;
}

.button:hover {
    background-color: #F8537D;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: none;
    height: 40px;
    outline: none;
    transition: .5s;
}

.button1 {
    padding: 10px 24px;
}

ul.social-share li a:hover {
    background: #F95681;
    color: #fff;
}

@media screen and (max-width: 360px) {
    .top-number {
        color: #fff;
        margin-left: 20px;
        margin-top: 5px;
    }
    .social {
        text-align: right;
        margin-top: 10px;
    }
    ul.social-share li a {
        display: inline-block;
        color: #fff;
        background: #404040;
        width: 25px;
        height: 25px;
        margin-left: 5px;
        text-align: center;
        border-radius: 2px;
    }
}

.logo h1 {
    color: #fff;
}

input[type=text] {
    width: 88%;
    padding-left: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: none;
    font-size: 16px;
    background-color: #F0F0F0;
    ;
    height: 40px;
    margin-top: 20px;
    color: black;
    outline: none;
}

.menubar li {
    float: left;
    display: inline-block;
}

.menubar li a {
    font-size: 30px;
    margin-left: 15px;
}


/*/////////////-------Start navbar-default------///////////*/

.navbar-default {
    background-color: #F95681;
    border-color: #000000;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #F95681;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background-color: black;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: white;
    color: deeppink;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -30px;
    z-index: 1000;
    font-family: 'Bree Serif', serif;
    display: none;
    float: left;
    padding: 0px 0;
    color: black;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar {
    border-radius: 0px;
    margin-top: 30px;
}

/*
.dropdown-menu>li>a {
    padding: 2px 2px;
    color: black;
}
*/

a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}

a:hover {
    color: #F64F7A;
    text-decoration: none;
    font-size: 17px;
}


/*============ Start   backimg ===============*/

.item img {
    width: 100%;
    background-size: cover;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: 500px;
    ;
}

.carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
}


/*  ============   product ===============*/

.product {
    margin-left: -15px;
}

.img2 {
    width: 105%;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}

.item-overlay h1 {
    position: absolute;
    font-size: 30px;
    font-family: "vedana";
    text-transform: uppercase;
    margin-left: 220px;
    ;
    margin-top: -170px;
    color: #F7537D;
}

.overlaybutton {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-left: 220px;
    ;
    margin-top: -80px;
    color: black;
    background-color: #FA557F;
    border: 1px solid #FA557F;
    transition: .5s;
}

.overlaybutton:hover {
    position: absolute;
    height: 40px;
    width: 100px;
    margin-left: 220px;
    ;
    margin-top: -80px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    transition: .5s;
}

.img2 img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.img2:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*============texthead=============*/

.texthead h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    padding: 15px;
    background-color: #F7537D;
font-size: 21px;
    font-family: inherit;
}

.text2 h5 {
    padding-top: 15px;
    text-align: center;
    background-color: wheat;
    height: 40px;
    width: 256px;
}

.img3 img {
    text-align: center;
    margin-top: 20px;
    height: 300px;
    width: 210px;
    transform: scale(1);
    transition: .6s;
}
.img3 img {
    text-align: center;
    margin-top: 20px;
    height: 300px;
    width: 210px;
}


.product2 {
        background-color: white;
    width: 260px;
    text-align: center;
    border: 1px solid #ddd;
    margin-top: 10px;
    padding-bottom: 20px;
}


.button2 {
    background-color: #F8537D;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.button2 {
    padding: 10px 24px;
}

.button2:hover {
    background-color: #000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}


/*
.producttext a{
    text-decoration: none;
    color: black;
}
.img1{
    background-color: red;
    height: 600px;
    width: 210px;
}
*/


/*==========toprated=========*/
.toprated {
    margin-top: 50px;
   
}

.toprated h1 {
       font-size: 20px;
    background-color: #F7537D;
    padding: 15px;
    margin-bottom: 60px;
    font-family: initial;
    
}


.imgpart2 {
    border-left: 1px solid #ddd;
    padding: 10px;
   
}
.imgpart2 img {
 height: 100px;
    width: 80px;
    background-size: cover;
    margin-right: 10px;
}

.imgpart2 p:hover {
    color: deeppink;
}

.imgpart2 h4 {
   
}
.product-item{
   display: block;
    float: left;
    margin-top: -10px;
    
}
.product-item-des {

}

/*
.onsale h1{
    font-size: 20px;
      border-bottom: 5px solid red;
}
*/

.footer {
    background-color: black;
    margin-top: 100px;
    padding: 50px;
}

.followus h4 {
    color: #ffffff;
}

.followus i {
    font-size: 20px;
    padding-right: 10px;
}

.followus {
    margin-top: 20px;
    color: #ccc;
}

.followus a {
    color: #F8537D;
    transition: .5s;
    transform: scale(1);
   
}

.followus a:hover {
    color: white;
     transform: scale(1.4);
}
